<div class="top-col ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BisleriumCafe</a>
    </div>
</div>
<MudNavMenu>
    <MudNavLink Href="/home" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/login" Match="NavLinkMatch.Prefix">Login</MudNavLink>
    <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
    <MudNavLink Href="/coffees" Match="NavLinkMatch.Prefix">Coffee</MudNavLink>
    <MudNavLink Href="/addins" Match="NavLinkMatch.Prefix">Add Ins</MudNavLink>
    <MudNavLink Href="/orders" Match="NavLinkMatch.Prefix">Order</MudNavLink>


</MudNavMenu>